body { background: #f7f7f7; margin:0; padding:0; }
/* se ajusta ya que realmente en css es min-height con guion*/
textarea { min-height: 80px; width: 100%; font-family: monospace; }
input, select, button { padding:6px; }
